<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <title>{{ tag }}</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    {% load static %}
    <img src="{% static "museum_app/logo.png" %}" alt="logo" class="img-rounded" style="width:3%">
    <div class="collapse navbar-collapse pl-3" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Strona główna</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/table/oddzialy">Oddziały <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/table/dzialy">Działy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/table/dziela">Dzieła</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/table/artysci">Artyści</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/table/bilety">Bilety</a>
            </li>
            <li>
                <a class="nav-link" href="/table/rodzaje_biletow">Rodzaje biletów</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/table/pracownicy">Pracownicy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/table/harmonogram_zwiedzania">Harmonogram zwiedzania</a>
            </li>
        </ul>
    </div>
</nav>

<h1 class="px-5 pt-4">{{ tag }} oddział</h1>

<div class="px-5">
    <form class="needs-validation" id="form-name" method="post">
        <div class="form-group">
            <div class="col-md-4">
                <label for="name">Nazwa *</label>
                {{ form.name }}
                {% if error != "" %}
                    <div class="text-danger">
                        {{ error }}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                <label for="opening-hour">Godzina otwarcia *</label>
                {{ form.opening_hour }}
                {% if error_time != "" %}
                    <div class="text-danger">
                        {{ error_time }}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                <label for="closing-hour">Godzina zamknięcia *</label>
                {{ form.closing_hour }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                <label for="address">Adres *</label>
                {{ form.address }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                <label for="number">Numer telefonu</label>
                {{ form.number }}
                {% if error_number != "" %}
                    <div class="text-danger">
                        {{ error_number }}
                    </div>
                {% endif %}
            </div>
        </div>

        <div>
            <div class="ml-auto p-2 pb-5">
                {% csrf_token %}
                {{ form.OddzialForm }}
                <button type="submit" class="btn btn-secondary">Dodaj</button>
            </div>
        </div>
    </form>


    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
</div>
</body>
</html>