<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <script>
        $(document).ready(function () {
            $("#id_options1").click(function () {
                var e = document.getElementById("id_options1");
                var strUser = e.options[e.selectedIndex].text;
                cascade(strUser);
                $("#id_options3").html();
            });

            $("#id_options2").click(function () {
                var e = document.getElementById("id_options2");
                var strUser = e.options[e.selectedIndex].text;
                changeOperators(strUser);
            });
            $("#operators").on("click", "a", function () {
                $("#options3").text($(this).text());
            });
        });

        var oddzial = [
            "Nazwa",
            "Godzina otwarcia",
            "Godzina zamknięcia"
        ];

        var wydarzenie = [
            "Nazwa",
            "Oddział",
            "Data rozpoczęcia",
            "Data zakończenia"
        ];

        var dzial = [
            "Nazwa",
            "Epoka",
            "Oddział"
        ];

        var dzielo = [
            "Nazwa",
            "Nazwisko artysty",
            "Epoka"
        ];

        var artysta = [
            "Imię",
            "Nazwisko",
            "Data urodzenia",
            "Data śmierci"
        ];

        var rodzaj = [
            "Typ",
            "Cena",
            "Czy z przewodnikiem"
        ];

        var bilet = [
            "Data zakupu",
            "Typ",
            "Czy z przewodnikiem"
        ];

        var pracownik = [
            "Imię",
            "Nazwisko",
            "Pesel",
            "Płaca",
            "Etat",
            "Data zatrudnienia"
        ];

        var wycieczka = [
            "Data",
            "Godzina rozpoczęcia",
            "Nazwisko przewodnika",
            "Ilość uczestników"
        ];

        function cascade(val) {
            if (val === "Oddział") {
                $('#id_options2').html('');
                for (var i in oddzial) {
                    $('#id_options2').append("<option value=" + oddzial[i] + ">" + oddzial[i] + "</option>");
                }
            } else if (val === "Wydarzenie") {
                $('#id_options2').html('');
                for (var i in wydarzenie) {
                    $('#id_options2').append("<option value=" + wydarzenie[i] + ">" + wydarzenie[i] + "</option>");
                }
            } else if (val === "Dział") {
                $('#id_options2').html('');
                for (var i in dzial) {
                    $('#id_options2').append("<option value=" + dzial[i] + ">" + dzial[i] + "</option>");
                }
            } else if (val === "Dzieło") {
                $('#id_options2').html('');
                for (var i in dzielo) {
                    $('#id_options2').append("<option value=" + dzielo[i] + ">" + dzielo[i] + "</option>");
                }
            } else if (val === "Artysta") {
                $('#id_options2').html('');
                for (var i in artysta) {
                    $('#id_options2').append("<option value=" + artysta[i] + ">" + artysta[i] + "</option>");
                }
            } else if (val === "Rodzaj biletu") {
                $('#id_options2').html('');
                for (var i in rodzaj) {
                    $('#id_options2').append("<option value=" + rodzaj[i] + ">" + rodzaj[i] + "</option>");
                }
            } else if (val === "Bilet") {
                $('#id_options2').html('');
                for (var i in bilet) {
                    $('#id_options2').append("<option value=" + bilet[i] + ">" + bilet[i] + "</option>");
                }
            } else if (val === "Pracownik") {
                $('#id_options2').html('');
                for (var i in pracownik) {
                    $('#id_options2').append("<option value=" + pracownik[i] + ">" + pracownik[i] + "</option>");
                }
            } else if (val === "Wycieczka") {
                $('#id_options2').html('');
                for (var i in wycieczka) {
                    $('#id_options2').append("<option value=" + wycieczka[i] + ">" + wycieczka[i] + "</option>");
                }
            }
        }

        function changeOperators(val) {
            if (val === "Cena" || val === "Płaca" || val === "Ilość uczestników") {
                $('#id_options3').html('');
                $('#id_options3').append("<option value='<'><</option>" +
                    "<option value='<='><=</option>" +
                    "<option value='='>=</option>" +
                    "<option value='>'>></option>" +
                    "<option value='>='>>=</option>");
            } else if (val === "Godzina otwarcia" || val === "Godzina zamknięcia" || val === "Godzina rozpoczęcia") {
                $('#id_options3').html('');
                $('#id_options3').append("<option value='Później niż'>Później niż</option>" +
                    "<option value='Wcześniej niż'>Wczesniej niż</option>" +
                    "<option value='Równa'>Równa</option>");
            } else if (val === "Data rozpoczęcia" || val === "Data zakończenia" || val === "Data urodzenia" ||
                val === "Data śmierci" || val === "Data zatrudnienia" || val === "Data zakupu" || val === "Data") {
                $('#id_options3').html('');
                $('#id_options3').append("<option value='Później niż'>Później niż</option>" +
                    "<option value='Wcześniej niż'>Wczesniej niż</option>" +
                    "<option value='Równa'>Równa</option>");
            } else {
                $('#id_options3').html('');
                $('#id_options3').append("<option value='='>=</option>");
            }
        }
    </script>
    <title>Strona główna</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    {% load static %}
    <img src="{% static "museum_app/logo.png" %}" alt="logo" class="img-rounded" style="width:3%">
    <div class="collapse navbar-collapse pl-3" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" href="/">Strona główna <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/table/oddzialy">Oddziały</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/table/dzialy">Działy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/table/dziela">Dzieła</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/table/artysci">Artyści</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/table/bilety">Bilety</a>
            </li>
            <li>
                <a class="nav-link" href="/table/rodzaje_biletow">Rodzaje biletów</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/table/pracownicy">Pracownicy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/table/harmonogram_zwiedzania">Harmonogram zwiedzania</a>
            </li>
        </ul>
    </div>
</nav>

<h1 class="px-5 pt-4">Strona główna</h1>
<p class="px-5 pt-2">Wyszukaj:</p>
<div class="d-flex flex-row px-5">
    <form class="needs-validation">
        {% csrf_token %}
        <div class="btn-group px-2">
            <label for="options1">Wybierz typ:</label>
            <div>{{ form.options1 }}</div>
        </div>
        <div class="btn-group px-2">
            <label for="options2">Wybierz pole:</label>
            <div>{{ form.options2 }}</div>
        </div>
        <div class="btn-group px-2">
            <label for="options3">Wybierz operator:</label>
            <div>{{ form.options3 }}</div>
        <div class="btn-group px-2">
            <label for="options4">Wybierz poszukiwaną wartość:</label>
            <div>{{ form.options4 }}</div>
        </div>
        <div>
            <button type="submit" class="btn btn-secondary">Wyszukaj</button>
        </div>
        </div>
    </form>
</div>
<div>
    <form method="post">
        {% csrf_token %}
        <div class="px-5">
            <br>
            <p>Wyniki wyszukiwania:</p>

            <table class="table table-hover">
                <thead class="thead bg-info text-light">
                <tr>
                    <th scope="col">#</th>
                    {% for x in kolumny %}
                        <th scope="col">{{ x }}</th>
                    {% endfor %}
                    <th scope="col" width="16%"></th>
                    <th scope="col" width="6%"></th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">
                            <div class="pl-3"><input class="form-check-input" type="checkbox" name="choices"
                                                     value='search_results' id='search_results'/></div>
                        </th>
                        {% for x in wyniki %}
                            <td>a</td>
                            <td>b</td>
                            <td>c</td>
                            <td>d</td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>
<div>
    <div class="px-5 pt-5"><p>Dochód muzeum w zależności od rodzaju biletu:</p></div>
    {% autoescape off %}
        {{ plot_div }}
    {% endautoescape %}
</div>
</body>
</html>
