<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <title>Oddziały</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    {% load static %}
    <img src="{% static "museum_app/logo.png" %}" alt="logo" class="img-rounded" style="width:3%">
    <div class="collapse navbar-collapse pl-3" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/main">Strona główna</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/table/oddzialy">Oddziały <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/table/dzialy">Działy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/table/dziela">Dzieła</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/table/artysci">Artyści</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/table/bilety">Bilety</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/table/pracownicy">Pracownicy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/table/harmonogram_zwiedzania">Harmonogram zwiedzania</a>
            </li>
        </ul>
    </div>
</nav>

<h1 class="px-5 pt-4">Oddziały</h1>
<div class=" px-5">
    <table class="table table-hover">
        <thead class="thead bg-info text-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nazwa</th>
            <th scope="col">Godzina otwarcia</th>
            <th scope="col">Godzina zamknięcia</th>
            <th scope="col">Adres</th>
            <th scope="col">Numer telefonu</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">
                <div class="pl-3"><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"></div>
            </th>
            <td>nazwa</td>
            <td>godzina</td>
            <td>godzina</td>
            <td>adres</td>
            <td>numer</td>
        </tr>
        </tbody>
    </table>
</div>

<div class="d-flex px-5 pb-5">
    <div class="p-2">
        <button type="button" class="btn btn-secondary">Edytuj</button>
    </div>
    <div class="p-2">
        <button type="button" class="btn btn-secondary">Usuń</button>
    </div>
    <div class="ml-auto p-2">
        <button type="button" class="btn btn-secondary">Dodaj nowy oddział</button>
    </div>
</div>

</body>
</html>